<div class="app-loader">
    <svg viewBox="22 22 44 44" class="app-loader-svg">
        <circle cx="44" cy="44" r="20.2" fill="none" stroke-width="3.6" class="loader-circle"></circle>
    </svg>
</div>