<div class="search-icon"></div>
{{input 
    type='text'
    class="search-input" 
    value=searchField  
    focus-in=(action "setIsFocused" true)
    focus-out=(action "setIsFocused" false)
    key-down=(action "handleSearchInput")
}}
{{yield}}
