{{#general-button class='br-light-grey bg-white ft-grey pd-sq circle' isSVG=true onClick=(action 'slideRight')}}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
{{/general-button}}
<div class="tournament-card-slider-wrapper">
    {{#each tournaments as |tournament|}}
        {{tournament-card class='border' tournament=tournament}}
    {{/each}}
</div>
{{#general-button class='br-light-grey bg-white ft-grey pd-sq circle' isSVG=true onClick=(action 'slideLeft')}}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
{{/general-button}}
{{yield}}