<section class="container section bg-pale-white organizations">
    {{organization-navbar searchOrganizations=(action 'searchOrganizations') searchValue=searchValue filterValue=filterValue sortValue=sortValue orderValue=orderValue currentPage=currentPage totalPages=totalPages}}
    <div class="organization-card-wrapper">
        {{#unless (is-empty organizations)}}
            {{#each organizations as |organization|}}
                {{organization-card class='bg-white' organization=organization changeOrganizationStatus=(action 'changeOrganizationStatus') }}
            {{/each}}
        {{else}}
            <p>No organizations found</p>
        {{/unless}}
    </div>
</section>
{{outlet}}
