.card-wrapper{
    @include flex(center, center);

    gap: 2rem;
    padding-top: 2rem;
    width: 100%;

    &.wrap{
        flex-wrap: wrap;
    }

    &.column{
        flex-direction: column;
    }
}