.input{
    @include flex(normal, center, column);
    width: 100%;
}

.input-box{
    @include flex(center, flex-start);

    width: 100%;
    position: relative;
    border-width: 1.5px;
    border-style: solid;
    background-color: $pale-white;
    padding: 0.75rem;
    border-radius: 0.25rem;

    .input-label{
        font-size: 0.875rem;
        color: $grey;
        position: absolute;
        transition: all 250ms;
        transform-origin: left;
    }

    &:has(input:focus){
        border-color: $blue;

        .input-label{
            text-shadow: 1px 1px 2px $white, 1px -1px 2px $white, -1px 1px 2px $white, -1px -1px 2px $white;
            transform: translateY(-110%) scale(0.9);
        }
    }

    &:has(.input-field:not(:placeholder-shown)){

        .input-label{
            text-shadow: 1px 1px 2px $white, 1px -1px 2px $white, -1px 1px 2px $white, -1px -1px 2px $white;
            transform: translateY(-110%) scale(0.9);
        }
    }

    &.br-red{
        border-color: $red !important;
    }
}

option:disabled {
    color: $grey;
}


.input-field{
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}


.input-error{
    color: $red;
    font-size: 0.75rem;
}

