.input{
    @include flex(normal, center, column);
    width: 100%;
}

.input-box{
    @include flex(center, flex-start);

    width: 100%;
    position: relative;
    border-width: 1.5px;
    border-style: solid;
    background-color: $pale-white;
    padding: 0.75rem;
    border-radius: 0.25rem;

    .input-label{
        font-size: 0.875rem;
        color: $grey;
        position: absolute;
        background-color: $pale-white;
        transition: all 250ms;
        transform-origin: left;
    }

    &:has(input:focus){
        border-color: $blue;

        .input-label{
            background-image: linear-gradient(0deg, rgba(246,246,246,1) 45%, rgba(255,255,255,1) 45%);
            transform: translateY(-100%) scale(0.9);
        }
    }

    &:has(.input-field:not(:placeholder-shown)){

        .input-label{
            background-image: linear-gradient(0deg, rgba(246,246,246,1) 45%, rgba(255,255,255,1) 45%);
            transform: translateY(-100%) scale(0.8);
        }
    }

    &.br-red{
        border-color: $red !important;
    }
}



.input-field{
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;

    
}


.input-error{
    color: $red;
    font-size: 0.75rem;
}

