.navbar{
    @include flex(center, space-between);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $white;
    height: $navbar-height;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.125);
}

.navbar-logo{
    @include flex(center, center);
    @include background('images/applogo.png', contain);
    width: 7.5rem;
    height: 3rem;
}

.navbar-menu{
    @include flex(center);

    gap: 1rem;
}

.navbar-link{
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        .nav-button{
            color: $dark-grey;
        }
    }

    &.active{
        .nav-button{
            color: $blue;
        }
    }
}

.navbar-profile-menu-container{
    position: relative;
}

.navbar-profile-menu{
    @include flex(flex-start, flex-start, column);

    position: absolute;
    top: 3rem;
    right: 0;
    width: 8rem;
    gap: 0.1rem;
    overflow: hidden;
    border-radius: 0.125rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: $pale-white;

    a{
        width: 100%;
    }
    
    .button{
        &:hover{
            &.no-border{
                &.bg-white{
                    background-color: $pale-white
                }
            }
        }
    }
}
