.organization-card{
    @include flex(flex-start, space-between, column);

    width: 75%;
    border-radius: 0.5rem;
    transition: all 150ms;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    gap: 0.5rem;
    transition: all 150ms;
    &:hover{
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.35);
    }
}

.organization-card-title{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
}


.organization-card-box{
    @include flex(flex-end, space-between);
    width: 100%;
    gap: 1rem;
}

.organization-card-detail-box{
    @include flex(normal, flex-start, column);

    gap: 0.5rem;
    flex-grow: 1;
}

.organization-card-button-box{
    @include flex(center, space-between);

    gap: 0.75rem;

}

.organization-card{
    .button{
        &:hover{
            &.no-border{
                &.ft-blue{
                    color: $dark-blue;
                }
            }
            &.br-red{
                &.bg-white{
                    background-color: $red;
                }
                &.ft-red{
                    color: $white;
                }
            }

            &.br-green{
                &.bg-green{
                    background-color: $white;
                }
                &.ft-white{
                    color: $green;
                }
                &.bg-white{
                    background-color: $green;
                }
                &.ft-green{
                    color: $white;
                }
            }

            &.br-orange{
                &.bg-orange{
                    background-color: $white;
                }
                &.ft-white{
                    color: $orange;
                }
            }
        }
    }
}