.tournament-navbar{
    @include flex(center, space-between);
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: $pale-white;
    gap: 1rem;
    position: sticky;
    z-index: 10;
    top: $navbar-height;
    left: 0;
}

.organization-user-navbar{
    @include flex(center, space-between);
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid $light-grey;
    background-color: $white;
    border-radius: 0.5rem;
    gap: 1rem;
    position: sticky;
    z-index: 10;
    top: $navbar-height;
    left: 0;
}

.organization-navbar{
    @include flex(center, space-between);
    width: 80%;
    padding: 1rem;
    background-color: $pale-white;
    gap: 1rem;
    position: sticky;
    z-index: 10;
    top: $navbar-height;
    left: 0;
}

.button{

    &:hover{
        &.br-green{
            &.bg-green{
                background-color: $white;
            }
            &.ft-white{
                color: $green;
            }
        }
    }

}