.tournament-participation-form-container{
    @include flex(center, center);

    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.tournament-participation-form-wrapper{
    @include flex(flex-start, center, column);

    gap: 0.75rem;
    padding: 2rem 1.5rem;
    background-color: $white;
    border-radius: 0.25rem;
    width: 50%;
    max-width: 500px;
}

.tournament-participation-team-buttons{
    @include flex(center);

    gap: 1rem;
    width: 100%;

}

.tournament-participation-form-info{
    @include flex(center);

    color: $grey;
    width: 100%;
    font-size: 0.875rem;
    gap: 0.25rem;
    svg{
        width: 1rem;
        height: 1rem;
    }

    span{
        text-decoration: none;
        color: $blue;
    }
}

.tournament-participation-form{
    @include flex(flex-start, flex-start, column);

    gap: 0.75rem;
    width: 100%;

    input, select{
        flex-grow: 1
    }
}

.tournament-participation-form-buttons{
    @include flex(center, flex-start);

    width: 100%;
    gap: 1rem;

    .button{
        &:hover{
            &.br-blue{
                &.bg-blue{
                    background-color: $white;
                }
                &.ft-white{
                    background-color: $blue;
                }
            }

            &.br-orange{
                &.bg-white{
                    background-color: $orange
                }
                &.ft-orange{
                    color: $white;
                }
            }
            
        }
    }
}