.tournament-card{
    @include flex(normal, space-between, column);

    min-width: 16rem;
    flex-grow: 1;
    height: 22rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all 150ms;
    background-color: $white;
    
    &.shadow{
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }

    &.border{
        @include border($light-grey);
    }

    &:hover{
        transform: scale(1.02);
    }
}

.tournament-card-image-box{
    @include flex(flex-start, flex-end);
    width: 100%;
    height: 45%;
    position: relative;
}

.tournament-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tournament-card-status{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    background-color: $blue;
    color: $white;
}

.tournament-card-details{
    @include flex(flex-start, space-between, column);
    width: 100%;
    height: 50%;
    padding: 0.75rem
}

.tournament-card-title-box{
    @include flex(center, space-between);
    width: 100%;

    .button{
        &:hover{
            &.no-border{
                &.bg-transparent{
                    background-color: $pale-white
                }
            }
        }
    }
}

.tournament-card-title{
    @extend %elipsis;
    font-size: 1.25rem;
    font-weight: 500;
    color: $dark-grey;
    transition: all 200ms;

    &:hover{
        color: $blue;
    }
}

.tournament-card-menu-box{
    position: relative;
}

.tournament-card-menu{
    @include flex(flex-start, flex-start, column);

    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 8rem;
    gap: 0.1rem;
    overflow: hidden;
    border-radius: 0.125rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: $pale-white;
    
    a{
        width: 100%;
    }
    
    .button{
        &:hover{
            &.no-border{
                &.bg-white{
                    background-color: $pale-white
                }
            }
        }
    }
}

.tournament-card-box{
    @include flex(flex-end, space-between);
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;

    .mw-50p{
        max-width: 50%;
    }

    .button{
        &:hover{
            &.br-blue{
                &.bg-white{
                    background-color: $blue;
                }
                &.ft-blue{
                    color: $white;
                }
            }
        }
    }
}

.tournament-card-innerbox{
    @include flex(flex-start, space-between, column);
    gap: 1rem;
}

