.tournament-navbar{
    @include flex(center, space-between);
    width: 100%;
    padding: 2rem 1rem 0 1rem;
}

.button{

    &:hover{
        &.br-green{
            &.bg-green{
                background-color: $white;
            }
            &.ft-white{
                color: $green;
            }
        }
    }

}