<section class="container section bg-pale-white flex column">
    {{tournament-navbar searchTournaments=(action 'searchTournaments') }}
    <div class="tournament-card-wrapper">
        {{#each tournaments as |tournament|}}
            {{tournament-card class='bg-white' tournament=tournament}}
        {{/each}}
    </div>
</section>

{{outlet}}
