$white: #ffffff;
$black: #000000;
$night-black: #1e1e1e;
$blue: #06b1ff;
$dark-blue: #0878c5;
$green: #13ad6b;
$red: #f0483e;
$orange: #ffa500;
$dark-grey: #383838;
$grey: #808080;
$light-grey: #e0e0e0;
$pale-white: #f6f6f6;
