.bg-white{
    background-color: $white;
}

.bg-black{
    background-color: $black;
}

.bg-blue{
    background-color: $blue
}

.bg-green{
    background-color: $green;
}

.bg-red{
    background-color: $red;
}

.bg-grey{
    background-color: $grey;
}

.bg-orange{
    background-color: $orange;
}

.bg-light-grey{
    background-color: $light-grey;
}

.bg-transparent{
    background-color: transparent
}

.bg-pale-white{
    background-color: $pale-white;
}