.br-blue{
    border-color: $blue;
}

.br-red{
    border-color: $red;
}

.br-grey{
    border-color: $grey;
}

.br-light-grey{
    border-color: $light-grey;
}

.br-green{
    border-color: $green;
}

.br-orange{
    border-color: $orange;
}