// Font colors

.ft-black{
    color: $black;
}

.ft-night-black{
    color: $night-black;
}

.ft-white{
    color: $white
}

.ft-blue{
    color: $blue;
}

.ft-orange{
    color: $orange;
}

.ft-grey{
    color: $grey;
}

.ft-green{
    color: $green;
}

.ft-red{
    color: $red;
}

// Font styles

.no-decoration{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.txt-wrap{
    text-wrap: wrap;
}


// Font sizes

.ft-xs{
    font-size: 0.75rem;
}

.ft-sm{
    font-size: 0.875rem;
}

.ft-base{
    font-size: 1rem;
}

.ft-lg{
    font-size: 1.125rem;
}

.ft-xl{
    font-size: 1.25rem;
}

.ft-2xl{
    font-size: 1.375rem;
}

.ft-3xl{
    font-size: 1.5rem;
}

.ft-4xl{
    font-size: 1.75rem;
}

.ft-5xl{
    font-size: 2rem;
}

// Font weights

.wt-300{
    font-weight: 300;
}

.wt-400{
    font-weight: 400;
}

.wt-500{
    font-weight: 500;
}

.wt-600{
    font-weight: 600;
}

.wt-700{
    font-weight: 700;
}