// Font colors

.ft-black{
    color: $black;
}

.ft-night-black{
    color: $night-black;
}

.ft-white{
    color: $white
}

.ft-blue{
    color: $blue;
}

.ft-orange{
    color: $orange;
}

.ft-grey{
    color: $grey;
}

.ft-dark-grey{
    color: $dark-grey;
}

.ft-light-grey{
    color: $light-grey;
}

.ft-green{
    color: $green;
}

.ft-pale-white{
    color: $pale-white;
}

.ft-red{
    color: $red;
}

// Font styles

.no-decoration{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.txt-wrap{
    text-wrap: wrap;
}

.txt-center{
    text-align: center;
}

.elipsis{
    @extend %elipsis;
}

// Font sizes

.ft-xs{
    font-size: 0.75rem;
}

.ft-sm{
    font-size: 0.875rem;
}

.ft-base{
    font-size: 1rem;
}

.ft-lg{
    font-size: 1.125rem;
}

.ft-xl{
    font-size: 1.25rem;
}

.ft-2xl{
    font-size: 1.375rem;
}

.ft-3xl{
    font-size: 1.5rem;
}

.ft-4xl{
    font-size: 1.75rem;
}

.ft-5xl{
    font-size: 2rem;
}

.ft-6xl{
    font-size: 2.5rem;
}

.ft-7xl{
    font-size: 3rem;
}

.ft-8xl{
    font-size: 3.75rem;
}

.ft-9xl{
    font-size: 4.5rem;
}

// Font weights

.wt-300{
    font-weight: 300;
}

.wt-400{
    font-weight: 400;
}

.wt-500{
    font-weight: 500;
}

.wt-600{
    font-weight: 600;
}

.wt-700{
    font-weight: 700;
}

// Before font line

.ft-before-blue{
    @include ft-before($blue);
}
