.ft-black{
    color: $black;
}

.ft-white{
    color: $white
}

.ft-blue{
    color: $blue;
}

.ft-grey{
    color: $grey;
}

.ft-green{
    color: $green;
}

.ft-red{
    color: $red;
}

.no-decoration{
    text-decoration: none;
}