.tournament-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    flex-wrap: wrap;
} 

.tournament{
    padding: 0;
}

.tournament-wrapper{
    @include flex(center, flex-start, column);

    gap: 1rem;
}

.tournament-poster-image-container{
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.tournament-poster-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tournament-poster-overlay{
    @include flex(flex-end, flex-start);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 5rem;
    background-image: linear-gradient(180deg, #00000060, #00000075);
}

.tournament-poster-header{
    font-weight: 500;
    font-size: 3rem;
}

.tournament-detail-container{
    @include flex(flex-start, space-between);

    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-bottom: 2rem;
}

.tournament-detail-box{
    @include flex(flex-start, flex-start, column);

    gap: 0.75rem;
    padding: 2rem;
    flex-grow: 3;
    min-width: 40rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px $light-grey;
}

.tournament-detail-header-box{
    @include flex(center, flex-start);

    width: 100%;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

.tournament-detail-header-icon{
    @include background('images/trophy-icon.svg');

    background-size: calc(100% - 1rem);
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid $pale-white;
    box-shadow: 1px 1px 4px $pale-white, -1px -1px 4px $pale-white;
}

.tournament-detail-header{
    font-weight: 500;
    font-size: 2rem;
    color: $dark-grey;
}



.tournament-registration-box{
    @include flex(flex-start, flex-start, column);

    padding: 2rem;
    flex-grow: 1;
    min-width: 20rem;
    border-radius: 1rem;
    gap: 1rem;
    box-shadow: 1px 1px 4px $light-grey;
}

.tournament-registration-button-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;

    .button{
        &.grow{
            width: 100%;
        }
    }
}

.tournament-registration-details-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
}

.contestants-wrapper{


}



// New, Edit tournament

.edit-tournament{
    position: fixed;
    top: $navbar-height;
    left: 0;
    background-color: $white;
}

.tournament-form-model{
    // not yet used
}

.tournament-form-wrapper{
    @include flex(center, center, column);
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.tournament-form-box{
    @include flex(center, space-between, column);
    gap: 1.65rem;
    width: calc(50% - 0.5rem);
    min-width: 500px;
}

.tournament-form-inner-box{
    @include flex(center, center, column);
    gap: 1rem;
    width: 100%;
}