<section class="section container flex ai-center jc-center fd-column">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
        <g>
            <circle cx="201.995" cy="108" r="100" fill="#f5f5f5" opacity="1" data-original="#ffffff" />
            <path fill="#301313" d="M201.995 216c-14.576 0-28.721-2.857-42.041-8.49-12.862-5.44-24.411-13.226-34.327-23.142s-17.702-21.465-23.142-34.327c-5.634-13.32-8.49-27.464-8.49-42.041s2.857-28.721 8.49-42.041c5.44-12.862 13.226-24.411 23.142-34.327S147.092 13.93 159.954 8.49C173.274 2.857 187.419 0 201.995 0s28.721 2.857 42.041 8.49c12.861 5.44 24.411 13.226 34.327 23.142s17.702 21.465 23.142 34.327c5.634 13.32 8.491 27.464 8.491 42.041s-2.857 28.721-8.491 42.041c-5.44 12.862-13.226 24.411-23.142 34.327s-21.465 17.702-34.327 23.142c-13.32 5.633-27.464 8.49-42.041 8.49zm0-200c-50.729 0-92 41.271-92 92s41.271 92 92 92 92-41.271 92-92-41.271-92-92-92z" opacity="1" data-original="#301313" />
            <path fill="#f5f5f5" d="M182.201 424h179.68c8.836 0 16-7.163 16-16v-63.44c0-31.897-14.283-60.459-36.802-79.637l.036-.043c-18.2-15.52-41.84-24.88-67.68-24.88h-142.88c-57.747 0-104.56 46.813-104.56 104.56V408c0 8.837 7.164 16 16 16h179.68z" opacity="1" data-original="#ffe67b" />
            <path fill="#301313" d="M361.881 432H41.995c-13.234 0-24-10.766-24-24v-63.44c0-15.192 2.977-29.934 8.849-43.816 5.67-13.405 13.784-25.441 24.119-35.776s22.372-18.45 35.776-24.119c13.882-5.872 28.624-8.849 43.816-8.849h142.88c13.603 0 26.897 2.399 39.514 7.129a111.689 111.689 0 0 1 33.357 19.664c.253.216.489.444.708.682 24.714 21.42 38.867 52.374 38.867 85.085V408c0 13.234-10.766 24-24 24zm-179.68-16h179.68c4.411 0 8-3.589 8-8v-63.44c0-28.344-12.389-55.15-33.989-73.547a8.177 8.177 0 0 1-.665-.635C317.964 255.941 296.057 248 273.435 248h-142.88c-53.243 0-96.56 43.317-96.56 96.56V408c0 4.411 3.589 8 8 8z" opacity="1" data-original="#301313" />
            <path fill="#ff9522" d="M465.948 504c15.651 0 25.242-16.168 17.059-28.761L367.078 297.006c-7.826-12.008-26.34-12.008-34.166 0L216.983 475.239C208.8 487.832 218.391 504 234.042 504z" opacity="1" data-original="#ff9292" />
            <path fill="#301313" d="M465.948 512H234.042c-10.487 0-20.011-5.545-24.855-14.47-4.625-8.522-4.218-18.484 1.088-26.65l115.931-178.236c5.161-7.92 14.053-12.644 23.789-12.644s18.628 4.724 23.785 12.638l115.933 178.239c5.308 8.168 5.715 18.131 1.09 26.653-4.844 8.925-14.368 14.47-24.855 14.47zM349.995 296c-4.307 0-8.188 2.009-10.38 5.374L223.69 479.601c-2.087 3.212-2.248 6.966-.44 10.297 2.074 3.821 6.109 6.102 10.793 6.102h231.906c4.684 0 8.719-2.281 10.793-6.102 1.808-3.331 1.647-7.085-.442-10.299l-115.928-178.23c-2.189-3.36-6.07-5.369-10.377-5.369z" opacity="1" data-original="#301313" />
            <path fill="#301313" d="M349.995 444a8 8 0 0 1-8-8v-76a8 8 0 0 1 16 0v76a8 8 0 0 1-8 8zM349.995 480a8 8 0 0 1-8-8v-4a8 8 0 0 1 16 0v4a8 8 0 0 1-8 8z" opacity="1" data-original="#301313" />
        </g>
    </svg>
    <h1 class="ft-night-black ft-9xl wt-500">403 </h1>
    <h2 class="ft-night-black ft-6xl wt-500">Access Denied</h2>
    {{#link-to 'index' class='ft-blue no-decoration'}}Go to Home{{/link-to}}
</section>
{{outlet}}
