<section class="section container home">
    <div class="home-details-container">
        <h1 class="home-details-title">Tournament Management System.</h1>
        <p class="ft-4xl">Manage all your tournaments in single place</p>
        <p class="ft-xl">Register you organization now</p>
        {{#link-to 'register' class='no-decoration'}}
            {{#general-button class='br-blue bg-blue ft-white rrev' buttonName='Get Started' isSVG=true}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            {{/general-button}}
        {{/link-to}}
    </div>
    <div class="home-image-container">

    </div>
</section>

{{outlet}}
