<section class="container section">
    {{card-wrapper class='wrap' card-component='organization-card' cardDetails=model.data handleEvent=(action 'changeOrganizationStatus') }}
</section>

{{outlet}}
